{% extends "HeticSearchBundle::layout.html.twig" %}


{% block content %}
	<h1>{{ result.title }}</h1>
	<div class="well">
		<ul class="inline">
			<li><strong>Catégorie: </strong>{{ result.category.title }}</li>
			<li><strong>Nombre de vue: </strong>{{ result.vues }}</li>
			<li><strong>Date de parution: </strong>{# result.date_parution #}</li>
		</ul>
		<div><strong>Acteurs:</strong></div>
		<ul>
			{% for acteur in result.acteur %}
				<li> {{ acteur.prenom }} {{ acteur.nom }} </li>
			{% endfor %}
		</ul>
		<p>{{ result.description }}</p>
	</div>
	<div class="well">
		<h2>Galerie</h2>
	</div>
	<div class="well">
		<h2>Ces films peuvent vous intéresser</h2>
	</div>
	<div class="well">
		<h2>Commentaires</h2>
	</div>
	<div class="well">
		<h3>Laisser un commentaire</h3>
	</div>
	
{% endblock %}