{% extends "HeticSearchBundle::layout.html.twig" %}


{% block content %}
	{% include "HeticSearchBundle:Form:search_form.html.twig" %}
	<h3>Résultat de la recherche: </h3>
	<!-- <div class="well">
			{# include "HeticSearchBundle:Form:filter_search_form.html.twig" #}
			
		</div> -->

	<ul class="thumbnails">
		{% for film in pagination %}
			<li class="span5">
				<div class="thumbnail">
					{% if film.medias[0] is defined %}
						<img src="{{ asset('images/films') }}/{{ film.medias[0].picture}}" alt="{{ film.medias[0].legend}}" style="width: 90%;height: auto;margin: 20px auto;">
					{% else %}
						<img src="{{ asset('images/films') }}/not-found.jpg" alt="image not found" style="width: 90%;height: auto;margin: 20px auto;">
					{% endif %}
					<div class="caption">
						<h4 style="line-height: 26px;"><a href="{{ path('hetic_search_view', { 'id': film.id }) }}">{{ film.title }}</a></h4>
						<p>{{ film.synopsis | truncate(220, true, '...') }}</p>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>

	<div class="navigation">
	    
	</div>
	
	{{ knp_pagination_render(pagination) }}
	
{% endblock %}