{% extends "::base.html.twig" %}

{% block body %}
	<header>
		<div class="navbar ">
			<div class="navbar-inner">
				<a class="brand" href="{{ path('hetic_search_homepage') }}">Cin'Hetic</a>
				<ul class="nav">
					<li class="divider-vertical"></li>
					<li><a href="{{ path('hetic_search_homepage') }}">Rechercher</a></li>
					<li class="divider-vertical"></li>
					<li><a href="{{ path('hetic_search_about') }}">About</a></li>
					<li class="divider-vertical"></li>
					<li><a href="{{ path('hetic_search_contact') }}">Contact</a></li>
					<li class="divider-vertical"></li>
				</ul>
			</div>
		</div><!-- end navbar -->
	</header>
	
	{% for flashMessage in app.session.flashbag.get('info') %}
	<div class="flash-notice alert alert-success span11 offset1">
		{{ flashMessage }}
	</div>
	{% endfor %}
	
	<div class="row offset1">
		<div class="span3">
			{% block leftcol %}
				{{ render(controller("HeticSearchBundle:Default:leftCol")) }}
			{% endblock %}
		</div>
		<div class="span10">
			{% block content %}{% endblock %}
		</div>
	</div>
	
{% endblock %}