
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><i class="icon-th-large"></i>  Genres</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				<ul class="unstyled">
					{% for category in categories %}
					    <li><a href="{{ path('hetic_search_category_view', { 'id': category.id }) }}" style="color: #000;">{{ category.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><i class="icon-user"></i> Acteurs</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul class="unstyled">
					{% for actor in actors %}
					    <li><a href="{{ path('hetic_search_acteur_view', { 'id': actor.id }) }}" style="color: #000;">{{ actor.prenom }} {{ actor.nom }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>